<!DOCTYPE HTML>
<html>
<head>
	<!-- htmlHead-->
	<title>AXISJ Control Tower</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="Description" />
	<!-- css block -->
	<link rel="stylesheet" type="text/css" href="../html/common.css" />
	<link rel="stylesheet" type="text/css" href="../../_AXJ/ui/default/AXJ.css" />
	<link rel="stylesheet" type="text/css" href="../../_AXJ/ui/default/AXInput.css" />
	<link rel="stylesheet" type="text/css" href="../../_AXJ/ui/default/AXSelect.css" />
	<link rel="stylesheet" type="text/css" href="../../_AXJ/ui/default/AXButton.css" />
	<link rel="stylesheet" type="text/css" href="../../_AXJ/ui/default/AXGrid.css" />
	<link rel="stylesheet" type="text/css" href="../../_AXJ/ui/default/AXSearch.css" >
	<link rel="stylesheet" type="text/css" href="../html/content.css" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<!-- js block -->
	<script type="text/javascript" src="../../_AXJ/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="../../_AXJ/lib/AXJ.js"></script>
	<script type="text/javascript" src="../../_AXJ/lib/AXInput.js"></script>
	<script type="text/javascript" src="../../_AXJ/lib/AXSelect.js"></script>
	<script type="text/javascript" src="../../_AXJ/lib/AXGrid.js"></script>
	<script type="text/javascript" src="../../_AXJ/lib/AXSearch.js"></script>
	<script type="text/javascript" src="../../_AXJ/lib/AXModal.js"></script>

	<script type="text/javascript" src="../html/js/content.js"></script>

	<!-- htmlHead-->

	<style text="text/css">

	</style>
	<script type="text/javascript">

	var fnObj = {
		pageStart: function(){
			parent.myModal.resize();
			fnObj.selectInit();
		},
		pageResize: function(){},

		selectInit: function(){
			/*
			$("#donateType").val("<%=donateInfo.donateType || 'gap' %>");
			$("#TShirtSize").val("<%=donateInfo.TShirtSize || 90 %>");
			$("#accountCheck").val("<%=donateInfo.accountCheck || 'N' %>");
			$("#donateFeedback").val("<%=donateInfo.donateFeedback || 'N' %>");
			*/
		},

		setProfileImage: function(path){
			var po = [];
			po.push("<img src='"+path.dec()+"' />");
			
			$("#photoView").html(po.join(''));
		},

		formCheck: function () {
			var result = validate("modalForm");
	        if (!result) return false;
			fnObj.formSave();
	    },

	    formSave: function () {

	        var url = "저장하기URL";
	        var pars = $("#modalForm").serialize();
	        //trace(pars);

	        new AXReq(url, {
	            debug: true, pars: pars, onsucc: function (res) {
	                if (res.result == AXUtil.ajaxOkCode) {
	                    parent.toast.push(res.msg);
	                    <% if (req.from == 'main') { %>
							parent.fnObj.grid01.search();
						<% }else{ %>
							parent.fnObj.grid.search();
						<% } %>
						parent.myModal.close();
	                }else if (res.result == "err") {
	                	parent.toast.push(res.msg);
	                }
	            },
	            onerr: function (res) {
	                AXUtil.alert(res);
	            }
	        });

	        return false;
	    }

	};
	</script>
</head>
<body>
	<div class="bodyHeightDiv">

		<div class="modalProgramTitle">
			후원자 정보
		</div>
		<div class="masterModalBody" id="masterModalBody">
			<form name="modalForm" id="modalForm" action="" method="post">
				<input type="hidden" name="idx" value="<%=req.idx%>" />
				<input type="hidden" name="method" value="<%=actionType%>" />
				<div id="uplodeInputTarget"></div>

				<div class="photoView" id="photoView"></div>

				<table cellpadding="0" cellspacing="0" class="viewTBL">
					<colgroup>
						<col width="100" />
						<col />
					</colgroup>
					<tbody>
						<tr>
							<th>
								<div class="tdRel">후원종류</div>
							</th>
							<td class="last">
								<div class="tdRel">
									<select class="AXSelect" id="donateType" name="donateType">
										<option value="gap">갑(GAP)</option>
										<option value="eul">을(EUL)</option>
										<option value="byoung">병(BYOUNG)</option>
									</select>
								</div>
							</td>
						</tr>
						<tr>
							<th>
								<div class="tdRel">이름</div>
							</th>
							<td class="last">
								<div class="tdRel">
									<div class="wrapInput">
									<input type="text" name="name" id="name" value="" class="AXInput v-req" title="이름" />
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<th>
								<div class="tdRel">이메일</div>
							</th>
							<td class="last">
								<div class="tdRel">
									<div class="wrapInput">
									<input type="text" name="email" id="email" value="" class="AXInput v-req" title="email" />
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<th>
								<div class="tdRel">주소</div>
							</th>
							<td class="last">
								<div class="tdRel">
									<div class="wrapInput">
									<input type="text" name="address" id="address" value="" class="AXInput v-req" title="주소" />
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<th>
								<div class="tdRel">프로필사진</div>
							</th>
							<td class="last">
								<div class="tdRel">
									<div id="myAXUpload_single"></div>
								</div>
							</td>
						</tr>
						<tr>
							<th>
								<div class="tdRel">연락처</div>
							</th>
							<td class="last">
								<div class="tdRel">
									<div class="wrapInput">
									<input type="text" name="hpp" id="hpp" value="" class="AXInput v-req W110" title="연락처" />
									</div>
								</div>
							</td>
						</tr>

						<tr>
							<th>
								<div class="tdRel">입금확인</div>
							</th>
							<td class="last">
								<div class="tdRel">
									<div class="wrapInput">
										<select class="AXSelect" id="accountCheck" name="accountCheck">
											<option value="Y">Y</option>
											<option value="N">N</option>
										</select>
										&nbsp;
									</div>
								</div>

							</td>
						</tr>
						<tr>
							<th>
								<div class="tdRel">감사메일여부</div>
							</th>
							<td class="last">
								<div class="tdRel">
									<div class="wrapInput">
										<select class="AXSelect" id="donateFeedback" name="donateFeedback">
											<option value="Y">Y</option>
											<option value="N">N</option>
										</select>
										&nbsp;
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="Hspace10"></div>

			</form>

		</div>
		<div class="modalButtonBox" align="center">
			<button class="AXButton W60 Blue" onclick="fnObj.formCheck();">등록</button>
			<button class="AXButton W60 Blue" onclick="fnObj.formCheck();">수정</button>
			<button class="AXButton W60" onclick="parent.myModal.close();">취소</button>
		</div>

	</div>
</body>
</html>
