.none {
  display: none;
}
.util-border-radius-none {
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
}
.util-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.util-textHidden {
  text-indent: 99999px;
  overflow: hidden;
}
.AXFrameUpload {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0px;
  border: 0px;
}
.AXFrameUpload.dragover .AXF-upload-preview {
  background: #ccdaee;
}
.AXFrameUpload.dragover .AXF-upload-preview::before {
  content: "Drop here";
}
.AXFrameUpload.dragover .AXF-upload-preview .empty-msg {
  display: none;
}
.AXFrameUpload.uploaded .AXF-upload-preview .empty-msg {
  display: none;
}
.AXFrameUpload .AXF-upload-preview {
  width: 100%;
  height: 100%;
  padding: 0px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  overflow: hidden;
}
.AXFrameUpload .AXF-upload-preview .AXF-upload-preview-img {
  position: absolute;
  left: 0px;
  top: 0px;
}
.AXFrameUpload input[type=file] {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px;
  -moz-opacity: 0.0;
  opacity: .00;
  filter: alpha(opacity=0);
}
.AXFrameUpload .AXF-upload-progress {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 10px;
  background: #ffffff;
  background: -webkit-linear-gradient(#eeeeee, #ffffff);
  /* For Safari */
  background: -o-linear-gradient(#eeeeee, #ffffff);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#eeeeee, #ffffff);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#eeeeee, #ffffff);
  /* Standard syntax */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#eeeeee, endColorstr=#ffffff);
  /*For IE7-8-9*/
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#eeeeee, endColorstr=#ffffff);
  /*For IE7-8-9*/
  border: 1px solid #dddddd;
  border-radius: 5px;
  overflow: hidden;
}
.AXFrameUpload .AXF-upload-progress .AXF-upload-progress-bar {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 10px;
  width: 0%;
  background: #79aa5a;
  background: -webkit-linear-gradient(#98c87b, #79aa5a);
  /* For Safari */
  background: -o-linear-gradient(#98c87b, #79aa5a);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#98c87b, #79aa5a);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#98c87b, #79aa5a);
  /* Standard syntax */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#98c87b, endColorstr=#79aa5a);
  /*For IE7-8-9*/
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#98c87b, endColorstr=#79aa5a);
  /*For IE7-8-9*/
  -webkit-border-radius: 0px 4px 4px 0px;
  -moz-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
}
