/*!
 * AxisJ Javascript Library Version 1.0
 * http://AxisJ.com
 * 
 * Copyright AxisJ
 * http://AxisJ.com/license
 * Date 2012-09-28 오후 1:17:52
 * 
 * Refactoring by Jowrney
 * http://flybakset.com 
 * Feb 12, 2014
 *
 */
.style-normal {
  background-color: #fdfdfd;
  background-image: -webkit-linear-gradient(top, #fdfdfd, #e8e8e8);
  background-image: -moz-linear-gradient(top, #fdfdfd, #e8e8e8);
  background-image: -o-linear-gradient(top, #fdfdfd, #e8e8e8);
  background-image: -ms-linear-gradient(top, #fdfdfd, #e8e8e8);
  background-image: linear-gradient(top, #fdfdfd, #e8e8e8);
  color: #6e7a85;
  border: 1px solid #b9babc;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
}
.style-classic {
  background-color: #c1cdd5;
  background-image: -webkit-linear-gradient(top, #c1cdd5, #98a4ae);
  background-image: -moz-linear-gradient(top, #c1cdd5, #98a4ae);
  background-image: -o-linear-gradient(top, #c1cdd5, #98a4ae);
  background-image: -ms-linear-gradient(top, #c1cdd5, #98a4ae);
  background-image: linear-gradient(top, #c1cdd5, #98a4ae);
  color: #ebf4f7;
  border: 1px solid #81898e;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
}
.style-blue {
  background-color: #6faee1;
  background-image: -webkit-linear-gradient(top, #6faee1, #468ec9);
  background-image: -moz-linear-gradient(top, #6faee1, #468ec9);
  background-image: -o-linear-gradient(top, #6faee1, #468ec9);
  background-image: -ms-linear-gradient(top, #6faee1, #468ec9);
  background-image: linear-gradient(top, #6faee1, #468ec9);
  color: #d0ebfe;
  border: 1px solid #3f80b1;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
}
.style-green {
  background-color: #98c87b;
  background-image: -webkit-linear-gradient(top, #98c87b, #79aa5a);
  background-image: -moz-linear-gradient(top, #98c87b, #79aa5a);
  background-image: -o-linear-gradient(top, #98c87b, #79aa5a);
  background-image: -ms-linear-gradient(top, #98c87b, #79aa5a);
  background-image: linear-gradient(top, #98c87b, #79aa5a);
  color: #dffebe;
  border: 1px solid #6a9751;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
}
.style-red {
  background-color: #c65a5b;
  background-image: -webkit-linear-gradient(top, #c65a5b, #a93b3e);
  background-image: -moz-linear-gradient(top, #c65a5b, #a93b3e);
  background-image: -o-linear-gradient(top, #c65a5b, #a93b3e);
  background-image: -ms-linear-gradient(top, #c65a5b, #a93b3e);
  background-image: linear-gradient(top, #c65a5b, #a93b3e);
  color: #fcccc9;
  border: 1px solid #87302b;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
}
.style-disabled {
  background-color: #cccccc;
  background-image: -webkit-linear-gradient(top, #cccccc, #cccccc);
  background-image: -moz-linear-gradient(top, #cccccc, #cccccc);
  background-image: -o-linear-gradient(top, #cccccc, #cccccc);
  background-image: -ms-linear-gradient(top, #cccccc, #cccccc);
  background-image: linear-gradient(top, #cccccc, #cccccc);
  color: #eaeaea;
  border: 1px solid #cccccc;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: none;
}
.event-focus {
  background: #e8e8e8;
}
.event-focus.Classic {
  background: #98a4ae;
}
.event-focus.Blue {
  background: #468ec9;
}
.event-focus.Green {
  background: #79aa5a;
}
.event-focus[disabled] {
  background-color: #cccccc;
  background-image: -webkit-linear-gradient(top, #cccccc, #cccccc);
  background-image: -moz-linear-gradient(top, #cccccc, #cccccc);
  background-image: -o-linear-gradient(top, #cccccc, #cccccc);
  background-image: -ms-linear-gradient(top, #cccccc, #cccccc);
  background-image: linear-gradient(top, #cccccc, #cccccc);
  color: #eaeaea;
  border: 1px solid #cccccc;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: none;
}
.event-active {
  box-shadow: none;
}
.event-active.Classic {
  box-shadow: none;
}
.event-active.Blue {
  box-shadow: none;
}
.event-active.Green {
  box-shadow: none;
}
.event-active.Red {
  box-shadow: none;
}
.event-active[disabled] {
  box-shadow: none;
}
.AXButton {
  background-color: #fdfdfd;
  background-image: -webkit-linear-gradient(top, #fdfdfd, #e8e8e8);
  background-image: -moz-linear-gradient(top, #fdfdfd, #e8e8e8);
  background-image: -o-linear-gradient(top, #fdfdfd, #e8e8e8);
  background-image: -ms-linear-gradient(top, #fdfdfd, #e8e8e8);
  background-image: linear-gradient(top, #fdfdfd, #e8e8e8);
  color: #6e7a85;
  border: 1px solid #b9babc;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
}
.AXButton:hover,
.AXButton:focus {
  background: #e8e8e8;
}
.AXButton:hover.Classic,
.AXButton:focus.Classic {
  background: #98a4ae;
}
.AXButton:hover.Blue,
.AXButton:focus.Blue {
  background: #468ec9;
}
.AXButton:hover.Green,
.AXButton:focus.Green {
  background: #79aa5a;
}
.AXButton:hover[disabled],
.AXButton:focus[disabled] {
  background-color: #cccccc;
  background-image: -webkit-linear-gradient(top, #cccccc, #cccccc);
  background-image: -moz-linear-gradient(top, #cccccc, #cccccc);
  background-image: -o-linear-gradient(top, #cccccc, #cccccc);
  background-image: -ms-linear-gradient(top, #cccccc, #cccccc);
  background-image: linear-gradient(top, #cccccc, #cccccc);
  color: #eaeaea;
  border: 1px solid #cccccc;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: none;
}
.AXButton:active {
  box-shadow: none;
}
.AXButton:active.Classic {
  box-shadow: none;
}
.AXButton:active.Blue {
  box-shadow: none;
}
.AXButton:active.Green {
  box-shadow: none;
}
.AXButton:active.Red {
  box-shadow: none;
}
.AXButton:active[disabled] {
  box-shadow: none;
}
.AXButton.Classic {
  background-color: #c1cdd5;
  background-image: -webkit-linear-gradient(top, #c1cdd5, #98a4ae);
  background-image: -moz-linear-gradient(top, #c1cdd5, #98a4ae);
  background-image: -o-linear-gradient(top, #c1cdd5, #98a4ae);
  background-image: -ms-linear-gradient(top, #c1cdd5, #98a4ae);
  background-image: linear-gradient(top, #c1cdd5, #98a4ae);
  color: #ebf4f7;
  border: 1px solid #81898e;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
}
.AXButton.Blue {
  background-color: #6faee1;
  background-image: -webkit-linear-gradient(top, #6faee1, #468ec9);
  background-image: -moz-linear-gradient(top, #6faee1, #468ec9);
  background-image: -o-linear-gradient(top, #6faee1, #468ec9);
  background-image: -ms-linear-gradient(top, #6faee1, #468ec9);
  background-image: linear-gradient(top, #6faee1, #468ec9);
  color: #d0ebfe;
  border: 1px solid #3f80b1;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
}
.AXButton.Green {
  background-color: #98c87b;
  background-image: -webkit-linear-gradient(top, #98c87b, #79aa5a);
  background-image: -moz-linear-gradient(top, #98c87b, #79aa5a);
  background-image: -o-linear-gradient(top, #98c87b, #79aa5a);
  background-image: -ms-linear-gradient(top, #98c87b, #79aa5a);
  background-image: linear-gradient(top, #98c87b, #79aa5a);
  color: #dffebe;
  border: 1px solid #6a9751;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
}
.AXButton.Red {
  background-color: #c65a5b;
  background-image: -webkit-linear-gradient(top, #c65a5b, #a93b3e);
  background-image: -moz-linear-gradient(top, #c65a5b, #a93b3e);
  background-image: -o-linear-gradient(top, #c65a5b, #a93b3e);
  background-image: -ms-linear-gradient(top, #c65a5b, #a93b3e);
  background-image: linear-gradient(top, #c65a5b, #a93b3e);
  color: #fcccc9;
  border: 1px solid #87302b;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
}
.AXButton[disabled] {
  background-color: #cccccc;
  background-image: -webkit-linear-gradient(top, #cccccc, #cccccc);
  background-image: -moz-linear-gradient(top, #cccccc, #cccccc);
  background-image: -o-linear-gradient(top, #cccccc, #cccccc);
  background-image: -ms-linear-gradient(top, #cccccc, #cccccc);
  background-image: linear-gradient(top, #cccccc, #cccccc);
  color: #eaeaea;
  border: 1px solid #cccccc;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: none;
}
.AXButtonSmall {
  background-color: #fdfdfd;
  background-image: -webkit-linear-gradient(top, #fdfdfd, #e8e8e8);
  background-image: -moz-linear-gradient(top, #fdfdfd, #e8e8e8);
  background-image: -o-linear-gradient(top, #fdfdfd, #e8e8e8);
  background-image: -ms-linear-gradient(top, #fdfdfd, #e8e8e8);
  background-image: linear-gradient(top, #fdfdfd, #e8e8e8);
  color: #6e7a85;
  border: 1px solid #b9babc;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
}
.AXButtonSmall:hover,
.AXButtonSmall:focus {
  background: #e8e8e8;
}
.AXButtonSmall:hover.Classic,
.AXButtonSmall:focus.Classic {
  background: #98a4ae;
}
.AXButtonSmall:hover.Blue,
.AXButtonSmall:focus.Blue {
  background: #468ec9;
}
.AXButtonSmall:hover.Green,
.AXButtonSmall:focus.Green {
  background: #79aa5a;
}
.AXButtonSmall:hover[disabled],
.AXButtonSmall:focus[disabled] {
  background-color: #cccccc;
  background-image: -webkit-linear-gradient(top, #cccccc, #cccccc);
  background-image: -moz-linear-gradient(top, #cccccc, #cccccc);
  background-image: -o-linear-gradient(top, #cccccc, #cccccc);
  background-image: -ms-linear-gradient(top, #cccccc, #cccccc);
  background-image: linear-gradient(top, #cccccc, #cccccc);
  color: #eaeaea;
  border: 1px solid #cccccc;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: none;
}
.AXButtonSmall:active {
  box-shadow: none;
}
.AXButtonSmall:active.Classic {
  box-shadow: none;
}
.AXButtonSmall:active.Blue {
  box-shadow: none;
}
.AXButtonSmall:active.Green {
  box-shadow: none;
}
.AXButtonSmall:active.Red {
  box-shadow: none;
}
.AXButtonSmall:active[disabled] {
  box-shadow: none;
}
.AXButtonSmall.Classic {
  background-color: #c1cdd5;
  background-image: -webkit-linear-gradient(top, #c1cdd5, #98a4ae);
  background-image: -moz-linear-gradient(top, #c1cdd5, #98a4ae);
  background-image: -o-linear-gradient(top, #c1cdd5, #98a4ae);
  background-image: -ms-linear-gradient(top, #c1cdd5, #98a4ae);
  background-image: linear-gradient(top, #c1cdd5, #98a4ae);
  color: #ebf4f7;
  border: 1px solid #81898e;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
}
.AXButtonSmall.Blue {
  background-color: #6faee1;
  background-image: -webkit-linear-gradient(top, #6faee1, #468ec9);
  background-image: -moz-linear-gradient(top, #6faee1, #468ec9);
  background-image: -o-linear-gradient(top, #6faee1, #468ec9);
  background-image: -ms-linear-gradient(top, #6faee1, #468ec9);
  background-image: linear-gradient(top, #6faee1, #468ec9);
  color: #d0ebfe;
  border: 1px solid #3f80b1;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
}
.AXButtonSmall.Green {
  background-color: #98c87b;
  background-image: -webkit-linear-gradient(top, #98c87b, #79aa5a);
  background-image: -moz-linear-gradient(top, #98c87b, #79aa5a);
  background-image: -o-linear-gradient(top, #98c87b, #79aa5a);
  background-image: -ms-linear-gradient(top, #98c87b, #79aa5a);
  background-image: linear-gradient(top, #98c87b, #79aa5a);
  color: #dffebe;
  border: 1px solid #6a9751;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
}
.AXButtonSmall.Red {
  background-color: #c65a5b;
  background-image: -webkit-linear-gradient(top, #c65a5b, #a93b3e);
  background-image: -moz-linear-gradient(top, #c65a5b, #a93b3e);
  background-image: -o-linear-gradient(top, #c65a5b, #a93b3e);
  background-image: -ms-linear-gradient(top, #c65a5b, #a93b3e);
  background-image: linear-gradient(top, #c65a5b, #a93b3e);
  color: #fcccc9;
  border: 1px solid #87302b;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
}
.AXButtonSmall[disabled] {
  background-color: #cccccc;
  background-image: -webkit-linear-gradient(top, #cccccc, #cccccc);
  background-image: -moz-linear-gradient(top, #cccccc, #cccccc);
  background-image: -o-linear-gradient(top, #cccccc, #cccccc);
  background-image: -ms-linear-gradient(top, #cccccc, #cccccc);
  background-image: linear-gradient(top, #cccccc, #cccccc);
  color: #eaeaea;
  border: 1px solid #cccccc;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: none;
}
.AXButtonLarge {
  background-color: #fdfdfd;
  background-image: -webkit-linear-gradient(top, #fdfdfd, #e8e8e8);
  background-image: -moz-linear-gradient(top, #fdfdfd, #e8e8e8);
  background-image: -o-linear-gradient(top, #fdfdfd, #e8e8e8);
  background-image: -ms-linear-gradient(top, #fdfdfd, #e8e8e8);
  background-image: linear-gradient(top, #fdfdfd, #e8e8e8);
  color: #6e7a85;
  border: 1px solid #b9babc;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
}
.AXButtonLarge:hover,
.AXButtonLarge:focus {
  background: #e8e8e8;
}
.AXButtonLarge:hover.Classic,
.AXButtonLarge:focus.Classic {
  background: #98a4ae;
}
.AXButtonLarge:hover.Blue,
.AXButtonLarge:focus.Blue {
  background: #468ec9;
}
.AXButtonLarge:hover.Green,
.AXButtonLarge:focus.Green {
  background: #79aa5a;
}
.AXButtonLarge:hover[disabled],
.AXButtonLarge:focus[disabled] {
  background-color: #cccccc;
  background-image: -webkit-linear-gradient(top, #cccccc, #cccccc);
  background-image: -moz-linear-gradient(top, #cccccc, #cccccc);
  background-image: -o-linear-gradient(top, #cccccc, #cccccc);
  background-image: -ms-linear-gradient(top, #cccccc, #cccccc);
  background-image: linear-gradient(top, #cccccc, #cccccc);
  color: #eaeaea;
  border: 1px solid #cccccc;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: none;
}
.AXButtonLarge:active {
  box-shadow: none;
}
.AXButtonLarge:active.Classic {
  box-shadow: none;
}
.AXButtonLarge:active.Blue {
  box-shadow: none;
}
.AXButtonLarge:active.Green {
  box-shadow: none;
}
.AXButtonLarge:active.Red {
  box-shadow: none;
}
.AXButtonLarge:active[disabled] {
  box-shadow: none;
}
.AXButtonLarge.Classic {
  background-color: #c1cdd5;
  background-image: -webkit-linear-gradient(top, #c1cdd5, #98a4ae);
  background-image: -moz-linear-gradient(top, #c1cdd5, #98a4ae);
  background-image: -o-linear-gradient(top, #c1cdd5, #98a4ae);
  background-image: -ms-linear-gradient(top, #c1cdd5, #98a4ae);
  background-image: linear-gradient(top, #c1cdd5, #98a4ae);
  color: #ebf4f7;
  border: 1px solid #81898e;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
}
.AXButtonLarge.Blue {
  background-color: #6faee1;
  background-image: -webkit-linear-gradient(top, #6faee1, #468ec9);
  background-image: -moz-linear-gradient(top, #6faee1, #468ec9);
  background-image: -o-linear-gradient(top, #6faee1, #468ec9);
  background-image: -ms-linear-gradient(top, #6faee1, #468ec9);
  background-image: linear-gradient(top, #6faee1, #468ec9);
  color: #d0ebfe;
  border: 1px solid #3f80b1;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
}
.AXButtonLarge.Green {
  background-color: #98c87b;
  background-image: -webkit-linear-gradient(top, #98c87b, #79aa5a);
  background-image: -moz-linear-gradient(top, #98c87b, #79aa5a);
  background-image: -o-linear-gradient(top, #98c87b, #79aa5a);
  background-image: -ms-linear-gradient(top, #98c87b, #79aa5a);
  background-image: linear-gradient(top, #98c87b, #79aa5a);
  color: #dffebe;
  border: 1px solid #6a9751;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
}
.AXButtonLarge.Red {
  background-color: #c65a5b;
  background-image: -webkit-linear-gradient(top, #c65a5b, #a93b3e);
  background-image: -moz-linear-gradient(top, #c65a5b, #a93b3e);
  background-image: -o-linear-gradient(top, #c65a5b, #a93b3e);
  background-image: -ms-linear-gradient(top, #c65a5b, #a93b3e);
  background-image: linear-gradient(top, #c65a5b, #a93b3e);
  color: #fcccc9;
  border: 1px solid #87302b;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
}
.AXButtonLarge[disabled] {
  background-color: #cccccc;
  background-image: -webkit-linear-gradient(top, #cccccc, #cccccc);
  background-image: -moz-linear-gradient(top, #cccccc, #cccccc);
  background-image: -o-linear-gradient(top, #cccccc, #cccccc);
  background-image: -ms-linear-gradient(top, #cccccc, #cccccc);
  background-image: linear-gradient(top, #cccccc, #cccccc);
  color: #eaeaea;
  border: 1px solid #cccccc;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: none;
}
