/* AXISJ Javascript UI Framework */
/* http://www.axisj.com, license : http://www.axisj.com/license */
.axj-style-width.W20 {
  width: 20px;
}
.axj-style-width.W30 {
  width: 30px;
}
.axj-style-width.W40 {
  width: 40px;
}
.axj-style-width.W50 {
  width: 50px;
}
.axj-style-width.W60 {
  width: 60px;
}
.axj-style-width.W70 {
  width: 70px;
}
.axj-style-width.W80 {
  width: 80px;
}
.axj-style-width.W90 {
  width: 90px;
}
.axj-style-width.W100 {
  width: 100px;
}
.axj-style-width.W110 {
  width: 110px;
}
.axj-style-width.W120 {
  width: 120px;
}
.axj-style-width.W130 {
  width: 130px;
}
.axj-style-width.W140 {
  width: 140px;
}
.axj-style-width.W150 {
  width: 150px;
}
.axj-style-width.W160 {
  width: 160px;
}
.axj-style-width.W170 {
  width: 170px;
}
.axj-style-width.W180 {
  width: 180px;
}
.axj-style-width.W190 {
  width: 190px;
}
.axj-style-width.W200 {
  width: 200px;
}
.axj-style-width.W210 {
  width: 210px;
}
.axj-style-width.W220 {
  width: 220px;
}
.axj-style-width.W230 {
  width: 230px;
}
.axj-style-width.W240 {
  width: 240px;
}
.axj-style-width.W250 {
  width: 250px;
}
.axj-style-width.W260 {
  width: 260px;
}
.axj-style-width.W270 {
  width: 270px;
}
.axj-style-width.W280 {
  width: 280px;
}
.axj-style-width.W290 {
  width: 290px;
}
.axj-style-width.W300 {
  width: 300px;
}
.AXdemoPageTabTarget {
  padding: 0px;
}
.AXdemoPageContent {
  padding: 10px;
}
/* ------------------ AXButton ----------------------- */
.AXButton {
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  height: 38px;
  padding: 0px 10px;
  margin: 0px 0px;
  border: 1px solid #b9babc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px 5px 5px 5px;
  -moz-border-radius: 4px 5px 5px 5px;
  border-radius: 4px 5px 5px 5px;
  font-size: 13px;
  color: #717b85;
  line-height: 1em;
  background: url(img/AXMobile/mobileDefault.png) repeat-x;
  background-size: auto 152px;
  box-shadow: 0px 1px 0px #f2f2f2;
  outline: none;
}
.AXButton:hover,
.AXButton:focus {
  border: 1px solid #949fa8;
  background-position: 0px -38px;
  box-shadow: 0px 1px 0px #c8cacd;
  text-shadow: 0px 1px #fff;
}
.AXButton:active {
  border: 1px solid #b9babc;
  background-position: 0px -114px;
  box-shadow: none;
  color: #b9babc;
  text-shadow: none;
}
.AXButton SPAN {
  display: block;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
}
.AXButtonSmall {
  cursor: pointer;
  height: 27px;
  padding: 0px 5px;
  margin: 0px 0px;
  border: 1px solid #b9babc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px 5px 5px 5px;
  -moz-border-radius: 4px 5px 5px 5px;
  border-radius: 4px 5px 5px 5px;
  font-size: 12px;
  color: #6e7a86;
  line-height: 1em;
  background: url(img/AXMobile/mobileDefault.png) repeat-x;
  background-size: auto 108px;
  box-shadow: 0px 1px #d9d9d9;
  outline: none;
}
.AXButtonSmall:hover,
.AXButtonSmall:focus {
  border: 1px solid #949fa8;
  background-position: 0px -27px;
  box-shadow: 0px 1px 3px #c8cacd;
  text-shadow: 0px 1px #fff;
}
.AXButtonSmall:active {
  border: 1px solid #b9babc;
  background-position: 0px -81px;
  box-shadow: none;
  color: #b9babc;
  text-shadow: 0px 1px #c5ccd0;
}
.AXButtonSmall SPAN {
  display: block;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
}
.AXButtonExtraSmall {
  cursor: pointer;
  height: 20px;
  padding: 0px 5px;
  margin: 0px 0px;
  border: 1px solid #b9babc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px 5px 5px 5px;
  -moz-border-radius: 4px 5px 5px 5px;
  border-radius: 4px 5px 5px 5px;
  font-size: 11px;
  color: #6e7a86;
  line-height: 1em;
  background: url(img/AXMobile/mobileDefault.png) repeat-x;
  background-size: auto 80px;
  box-shadow: 0px 1px #d9d9d9;
  outline: none;
}
.AXButtonExtraSmall:hover,
.AXButtonExtraSmall:focus {
  border: 1px solid #949fa8;
  background-position: 0px -20px;
  box-shadow: 0px 1px 3px #c8cacd;
  text-shadow: 0px 1px #fff;
}
.AXButtonExtraSmall:active {
  border: 1px solid #b9babc;
  background-position: 0px -60px;
  box-shadow: none;
  color: #b9babc;
  text-shadow: 0px 1px #c5ccd0;
}
.AXButtonExtraSmall SPAN {
  display: block;
  height: 18px;
  line-height: 18px;
  vertical-align: middle;
}
.AXButtonLarge {
  cursor: pointer;
  height: 55px;
  padding: 0px 10px;
  margin: 0px 0px;
  border: 1px solid #b9babc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px 5px 5px 5px;
  -moz-border-radius: 4px 5px 5px 5px;
  border-radius: 4px 5px 5px 5px;
  font-size: 15px;
  color: #6e7a86;
  line-height: 1em;
  background: url(img/AXMobile/mobileDefault.png) repeat-x;
  background-size: auto 220px;
  box-shadow: 0px 1px #d9d9d9;
  outline: none;
}
.AXButtonLarge:hover,
.AXButtonLarge:focus {
  border: 1px solid #949fa8;
  background-position: 0px -55px;
  box-shadow: 0px 1px 3px #c8cacd;
  text-shadow: 0px 1px #fff;
}
.AXButtonLarge:active {
  border: 1px solid #b9babc;
  background-position: 0px -165px;
  box-shadow: none;
  color: #b9babc;
  text-shadow: 0px 1px #c5ccd0;
}
.AXButtonLarge SPAN {
  display: block;
  height: 53px;
  line-height: 53px;
  vertical-align: middle;
}
.AXButtonSmall.W20 {
  width: 20px;
  padding: 0px;
}
.AXButtonSmall.W30 {
  width: 30px;
  padding: 0px;
}
.AXButtonSmall.W40 {
  width: 40px;
  padding: 0px;
}
.AXButtonSmall.W50 {
  width: 50px;
  padding: 0px;
}
.AXButtonSmall.W60 {
  width: 60px;
  padding: 0px;
}
.AXButtonSmall.W70 {
  width: 70px;
  padding: 0px;
}
.AXButtonSmall.W80 {
  width: 80px;
  padding: 0px;
}
.AXButtonSmall.W90 {
  width: 90px;
  padding: 0px;
}
.AXButtonSmall.W100 {
  width: 100px;
  padding: 0px;
}
.AXButtonSmall.W110 {
  width: 110px;
  padding: 0px;
}
.AXButtonSmall.W120 {
  width: 120px;
  padding: 0px;
}
.AXButtonSmall.W130 {
  width: 130px;
  padding: 0px;
}
.AXButtonSmall.W140 {
  width: 140px;
  padding: 0px;
}
.AXButtonSmall.W150 {
  width: 150px;
  padding: 0px;
}
.AXButtonSmall.W160 {
  width: 160px;
  padding: 0px;
}
.AXButtonSmall.W170 {
  width: 170px;
  padding: 0px;
}
.AXButtonSmall.W180 {
  width: 180px;
  padding: 0px;
}
.AXButtonSmall.W190 {
  width: 190px;
  padding: 0px;
}
.AXButtonSmall.W200 {
  width: 200px;
  padding: 0px;
}
.AXButton.W20 {
  width: 20px;
  padding: 0px;
}
.AXButton.W30 {
  width: 30px;
  padding: 0px;
}
.AXButton.W40 {
  width: 40px;
  padding: 0px;
}
.AXButton.W50 {
  width: 50px;
  padding: 0px;
}
.AXButton.W60 {
  width: 60px;
  padding: 0px;
}
.AXButton.W70 {
  width: 70px;
  padding: 0px;
}
.AXButton.W80 {
  width: 80px;
  padding: 0px;
}
.AXButton.W90 {
  width: 90px;
  padding: 0px;
}
.AXButton.W100 {
  width: 100px;
  padding: 0px;
}
.AXButton.W110 {
  width: 110px;
  padding: 0px;
}
.AXButton.W120 {
  width: 120px;
  padding: 0px;
}
.AXButton.W130 {
  width: 130px;
  padding: 0px;
}
.AXButton.W140 {
  width: 140px;
  padding: 0px;
}
.AXButton.W150 {
  width: 150px;
  padding: 0px;
}
.AXButton.W160 {
  width: 160px;
  padding: 0px;
}
.AXButton.W170 {
  width: 170px;
  padding: 0px;
}
.AXButton.W180 {
  width: 180px;
  padding: 0px;
}
.AXButton.W190 {
  width: 190px;
  padding: 0px;
}
.AXButton.W200 {
  width: 200px;
  padding: 0px;
}
.AXButtonLarge.W20 {
  width: 20px;
  padding: 0px;
}
.AXButtonLarge.W30 {
  width: 30px;
  padding: 0px;
}
.AXButtonLarge.W40 {
  width: 40px;
  padding: 0px;
}
.AXButtonLarge.W50 {
  width: 50px;
  padding: 0px;
}
.AXButtonLarge.W60 {
  width: 60px;
  padding: 0px;
}
.AXButtonLarge.W70 {
  width: 70px;
  padding: 0px;
}
.AXButtonLarge.W80 {
  width: 80px;
  padding: 0px;
}
.AXButtonLarge.W90 {
  width: 90px;
  padding: 0px;
}
.AXButtonLarge.W100 {
  width: 100px;
  padding: 0px;
}
.AXButtonLarge.W110 {
  width: 110px;
  padding: 0px;
}
.AXButtonLarge.W120 {
  width: 120px;
  padding: 0px;
}
.AXButtonLarge.W130 {
  width: 130px;
  padding: 0px;
}
.AXButtonLarge.W140 {
  width: 140px;
  padding: 0px;
}
.AXButtonLarge.W150 {
  width: 150px;
  padding: 0px;
}
.AXButtonLarge.W160 {
  width: 160px;
  padding: 0px;
}
.AXButtonLarge.W170 {
  width: 170px;
  padding: 0px;
}
.AXButtonLarge.W180 {
  width: 180px;
  padding: 0px;
}
.AXButtonLarge.W190 {
  width: 190px;
  padding: 0px;
}
.AXButtonLarge.W200 {
  width: 200px;
  padding: 0px;
}
/* ------------------ AXButton ----------------------- */
.AXNotificationTray {
  position: fixed;
  right: 10px;
  top: 0px;
  z-index: 5001;
  width: 302px;
}
.AXNotificationTrayDialog {
  position: fixed;
  left: 0px;
  top: 50px;
  width: 300px;
  z-index: 5001;
}
.AXNotification {
  width: 280px;
  border: 1px solid #c5c5c5;
  background: #ebebeb;
  padding: 10px;
  margin: 10px 0px;
  box-shadow: 0px 0px 5px #b2b2b2;
  font-size: 12px;
  color: #525252;
  -moz-opacity: 0.9;
  opacity: 0.9;
  filter: alpha(opacity=90);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px 5px 5px 5px;
  -moz-border-radius: 4px 5px 5px 5px;
  border-radius: 4px 5px 5px 5px;
}
.AXNotificationTrayDialog .AXNotification {
  width: 300px;
  border: 1px solid #444;
  background: #ebebeb;
  padding: 0px;
  margin: 0px 0px;
  box-shadow: 0px 0px 3px #888;
  font-size: 12px;
  color: #525252;
  overflow: hidden;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px 5px 5px 5px;
  -moz-border-radius: 4px 5px 5px 5px;
  border-radius: 4px 5px 5px 5px;
}
.AXNotification .AXNotificationHead {
  font-weight: bold;
  color: #717b85;
  text-shadow: 0px 1px #fff;
  padding: 5px 15px;
  height: 20px;
  line-height: 20px;
  background: url(img/dialogTitle.png) repeat-x;
  text-align: center;
}
.AXNotification .AXNotificationTable {
  width: 100%;
  border: 0px none !important;
  background: #ebebeb;
}
.AXNotificationTrayDialog .AXNotificationCT {
  padding: 10px;
}
.AXNotification .AXNotificationTable td,
.AXNotification .AXNotificationTable th {
  border: 0px none !important;
  background: #ebebeb;
}
.AXNotification .AXNotificationIcon {
  width: 40px;
  height: 30px;
  background: url(img/AXMobile/notificationComplete.png) no-repeat center center !important;
  background-size: auto 30px !important;
}
.AXNotification .AXNotificationBody {
  font-size: 13px;
  color: #525252;
  padding-right: 5px;
  line-height: 1.6em;
}
.AXNotification .AXNotificationBody B {
  color: #477e47;
}
.AXNotification .AXNotificationButton {
  width: 45px;
}
.AXNotification .AXNotificationButtons {
  padding: 10px 0px;
  text-align: center;
  background: #ebebeb;
}
/* Warning */
.AXNotification.Warning .AXNotificationIcon {
  width: 40px;
  height: 30px;
  background: url(img/AXMobile/notificationWarning.png) no-repeat center center !important;
  background-size: auto 30px !important;
}
.AXNotification.Warning .AXNotificationBody B {
  color: #bf601b;
}
/* Caution */
.AXNotification.Caution .AXNotificationIcon {
  width: 40px;
  height: 30px;
  background: url(img/AXMobile/notificationCaution.png) no-repeat center center !important;
  background-size: auto 30px !important;
}
.AXNotification.Caution .AXNotificationBody B {
  color: #7e302c;
}
/* ---------------------------- AXInputGroup ------------------------------- */
.AXInputGroup {
  position: relative;
  border: 1px solid #b6b6b6;
  background: #fff;
  box-shadow: inset 0px 1px 2px #dddddd;
  border-radius: 4px;
  padding: 0px 0px 0px 4px;
  display: block;
}
.AXInputGroup.inline {
  display: inline-block;
  *display: inline;
  *margin-right: 3px;
}
.AXInputGroup input[type=text],
.AXInputGroup input[type=password] {
  border: 0px none;
  padding: 0px;
  width: 100%;
  padding: 4px 0px;
  font-size: 12px;
  line-height: 15px;
  height: 15px;
  background: none;
}
.AXInputGroup.inline input[type=text],
.AXInputGroup.inline input[type=password] {
  *width: auto;
}
/* ---------------------------- AXInputLabel ------------------------------- */
.AXInputLabel {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.AXInputLabel SPAN {
  display: block;
  line-height: 24px;
  font-size: 12px;
  color: #717b85;
  padding: 0px 3px;
}
.AXInputLabel.fullWidth {
  display: block;
  padding-right: 8px;
}
.AXInputLabel.fullWidth SPAN {
  display: block;
}
.AXInputLabel.fullWidth input[type=text],
.AXInputLabel.fullWidth input[type=password] {
  width: 100%;
  box-size: border-box;
}
/* ---------------------------- AXInput ------------------------------- */
.AXanchor {
  position: absolute;
  height: 0px;
  left: 0px;
  top: 0px;
  display: none;
  vertical-align: middle;
}
.AXInput {
  border: 1px solid #b6b6b6;
  background: #fff;
  box-shadow: inset 0px 1px 2px #dddddd;
  border-radius: 4px;
  font-size: 15px;
  height: 28px;
  color: #575757;
  padding: 4px;
  margin: 0px;
}
.AXInput:focus {
  border: 1px solid #949fa8;
  box-shadow: inset 0px 0px 3px #949fa8;
}
.AXInputSmall {
  border: 1px solid #b6b6b6;
  box-shadow: inset 0px 1px 1px #dddddd;
  border-radius: 4px;
  font-size: 12px;
  height: 19px;
  padding: 3px 4px;
  margin: 0px auto;
}
.AXInputSmall:focus {
  border: 1px solid #949fa8;
  box-shadow: inset 0px 0px 3px #949fa8;
}
.AXInput.W20 {
  width: 20px;
}
.AXInput.W30 {
  width: 30px;
}
.AXInput.W40 {
  width: 40px;
}
.AXInput.W50 {
  width: 50px;
}
.AXInput.W60 {
  width: 60px;
}
.AXInput.W70 {
  width: 70px;
}
.AXInput.W80 {
  width: 80px;
}
.AXInput.W90 {
  width: 90px;
}
.AXInput.W100 {
  width: 100px;
}
.AXInput.W110 {
  width: 110px;
}
.AXInput.W120 {
  width: 120px;
}
.AXInput.W130 {
  width: 130px;
}
.AXInput.W140 {
  width: 140px;
}
.AXInput.W150 {
  width: 150px;
}
.AXInput.W160 {
  width: 160px;
}
.AXInput.W170 {
  width: 170px;
}
.AXInput.W180 {
  width: 180px;
}
.AXInput.W190 {
  width: 190px;
}
.AXInput.W200 {
  width: 200px;
}
.AXInput.W300 {
  width: 300px;
}
.AXInput.W400 {
  width: 400px;
}
.AXInput.W500 {
  width: 500px;
}
.AXInputSmall.W20 {
  width: 20px;
}
.AXInputSmall.W30 {
  width: 30px;
}
.AXInputSmall.W40 {
  width: 40px;
}
.AXInputSmall.W50 {
  width: 50px;
}
.AXInputSmall.W60 {
  width: 60px;
}
.AXInputSmall.W70 {
  width: 70px;
}
.AXInputSmall.W80 {
  width: 80px;
}
.AXInputSmall.W90 {
  width: 90px;
}
.AXInputSmall.W100 {
  width: 100px;
}
.AXInputSmall.W110 {
  width: 110px;
}
.AXInputSmall.W120 {
  width: 120px;
}
.AXInputSmall.W130 {
  width: 130px;
}
.AXInputSmall.W140 {
  width: 140px;
}
.AXInputSmall.W150 {
  width: 150px;
}
.AXInputSmall.W160 {
  width: 160px;
}
.AXInputSmall.W170 {
  width: 170px;
}
.AXInputSmall.W180 {
  width: 180px;
}
.AXInputSmall.W190 {
  width: 190px;
}
.AXInputSmall.W200 {
  width: 200px;
}
.AXInputSmall.W300 {
  width: 300px;
}
.AXInputSmall.W400 {
  width: 400px;
}
.AXInputSmall.W500 {
  width: 500px;
}
.AXInput.Round {
  border-radius: 15px;
}
.AXInputSmall.Round {
  border-radius: 15px;
}
.AXInput[readonly] {
  background: #eee;
  color: #676767;
  text-shadow: 0px 1px #fff;
  box-shadow: inset 0px 1px 2px #b1b1b1;
}
.AXInput[disabled] {
  background: #d6d6d6;
  color: #eaeaea;
  text-shadow: 0px -1px #c2c2c2;
  box-shadow: inset 0px 1px 2px #b1b1b1;
}
.AXInputSmall[disabled] {
  background: #d6d6d6;
  color: #eaeaea;
  text-shadow: 0px -1px #c2c2c2;
  box-shadow: inset 0px 1px 2px #b1b1b1;
}
.AXInputSmall[readonly] {
  background: #eee;
  color: #676767;
  text-shadow: 0px 1px #fff;
  box-shadow: inset 0px 1px 2px #b1b1b1;
}
.AXInput::-webkit-input-placeholder {
  color: #bbb;
}
.AXInput::-moz-placeholder {
  color: #bbb;
}
.AXInput:-ms-input-placeholder {
  color: #bbb;
}
.AXInputSmall::-webkit-input-placeholder {
  color: #bbb;
}
.AXInputSmall::-moz-placeholder {
  color: #bbb;
}
.AXInputSmall:-ms-input-placeholder {
  color: #bbb;
}
.AXCheckbox {
  position: relative;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 1px 0 0 30px;
  margin: 0 0px 0 0;
  font-weight: normal;
  vertical-align: top;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  background: url(img/AXCheckbox.png) no-repeat left 0px;
}
.AXCheckbox.checked {
  background-position: left -26px;
}
.AXCheckbox input[type="checkbox"] {
  position: absolute;
  left: -56px;
}
/* ---------------------------- AXSelect ------------------------------- */
.AXSelect {
  border: 1px solid #b6b6b6;
  background: #fff;
  box-shadow: 0px 1px 1px #e9eced;
  border-radius: 4px;
  font-size: 13px;
  height: 38px;
  padding: 2px;
  margin: 0px auto;
}
.AXSelectSmall {
  border: 1px solid #b6b6b6;
  background: #fff;
  box-shadow: 0px 1px 1px #e9eced;
  border-radius: 4px;
  font-size: 11px;
  line-height: 14px;
  height: 20px;
  padding: 2px;
  margin: 0px auto;
}
.AXTextarea {
  border: 1px solid #b6b6b6;
  background: #fff;
  box-shadow: inset 0px 1px 2px #dddddd;
  border-radius: 4px;
  font-size: 12px;
  line-height: 15px;
  padding: 4px;
  margin: 0px auto;
}
/* ---------------------------- AXscriptSource ------------------------------- */
.AXscriptSource {
  padding: 5px 10px 10px 10px;
  border: 1px solid #b6b6b6;
  background: #FFFFEC;
  border-radius: 0px;
  position: relative;
  overflow: hidden;
  box-shadow: inset 1px 1px 2px #ccc;
}
.AXscriptSource legend {
  font-size: 12px;
  font-weight: bold;
  background: #b6b6b6;
  color: #fff;
  padding: 3px 7px;
  border-radius: 4px;
}
.AXscriptSource textarea.fieldsetBody {
  display: block;
  border: 0px none;
  font-size: 12px;
  line-height: 16px;
  font-family: Consolas;
  background: transparent;
  width: 100%;
  overflow: auto;
}
.AXscriptSource .fieldsetBodyMirror {
  font-size: 12px;
  line-height: 16px;
  font-family: Consolas;
  overflow: auto;
}
.AXscriptSource .AXscriptSourceLineNumber {
  position: absolute;
  left: -35px;
  top: 0px;
  width: 25px;
  padding-right: 2px;
  background: #ccc;
  border-right: 1px solid #b6b6b6;
  font-size: 12px;
  line-height: 16px;
  font-family: Consolas;
  overflow: hidden;
  color: #fff;
  text-shadow: 0px -1px #b6b6b6;
  text-align: right;
}
.AXTabs .AXTabsTray .rightArrowMoreBox {
  background: url(img/rightArrowsBg.png) repeat-y 100% 0px;
}
.AXTabsLarge .AXTabsTray .rightArrowMoreBox {
  background: url(img/rightArrowsBg.png) repeat-y 100% 0px;
}
.AXTabsSmall .AXTabsTray .rightArrowMoreBox {
  background: url(img/rightArrowsBg.png) repeat-y 100% 0px;
}
