/* mobile device width */
.AXSlidePPT {
  position: relative;
}
.AXSlidePPT .AXSlideDoc {
  z-index: 1;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.AXSlidePPT .AXSlideThumbnail {
  z-index: 100;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.AXSlidePPT .AXSlideThumbnail table {
  border-collapse: collapse;
  height: 100%;
}
.AXSlidePPT .AXSlideThumbnail table td {
  padding: 5px 0px 5px 5px;
}
.AXSlidePPT .AXSlideThumbnail .AXSlideThumbnailScroll {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
}
.AXSlidePPT .AXSlideThumbnail .AXSlideThumbnailScroll .AXSlideItem {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 0px 0px 3px #ccc;
  text-align: center;
  line-height: 50px;
}
