.AXTimeTable{
	position:relative;
}

.AXTimeTable .AXTimeTableLayout{
	width:100%;table-layout:fixed;
	border-top:1px solid #d6d6d6;
	border-left:1px solid #d6d6d6;
	background:url(img/gridheadBG.png) repeat-x;
}
.AXTimeTable .AXTimeTableLayout thead tr td{
	background:#eee;
	height:30px;line-height:30px;
	background:url(img/gridheadBorder.png) no-repeat 100% 0px;
	border-bottom:1px solid #c1c1c1;
}

.AXTimeTable .AXTimeTableLayout tbody tr td{
	border-bottom:1px solid #d6d6d6;
	border-right:1px solid #d6d6d6;
	height:30px;line-height:30px;
}

.AXTimeTable .AXTimeTableLayout thead tr td .tdRel,
.AXTimeTable .AXTimeTableLayout tbody tr td .tdRel
{
	position:relative;
	padding:0px 5px;text-align:center;
	height:30px;line-height:30px;
}

.AXTimeTable .AXTimeTableLayout thead tr td.timeset,
.AXTimeTable .AXTimeTableLayout tbody tr td.timeset
{
	background:#D7EBFF;
	text-align:right;
	color:#888;
	font-family:Consolas;
}

.AXTimeTable .AXTimeTableLayout thead tr td.timeset .tdRel,
.AXTimeTable .AXTimeTableLayout tbody tr td.timeset .tdRel{
	text-align:right;
}

.AXTimeTable .timeZone{
	position:absolute;
	width:100%;height:50px;
	left:0px;top:0px;
	border:1px solid #BE7C7C;
	background:#FFFFD9;
	-moz-opacity: 0.6;opacity:.60;filter: alpha(opacity=60);
	cursor:move;
	box-shadow:0px 0px 3px #000;
}
.AXTimeTable .timeZone:hover, .AXTimeTable .timeZone.on{
	background:#888;color:#fff;
}
.AXTimeTable .timeZone .upControl{
	display:block;
	position:absolute;
	left:0px;top:0px;width:100%;
	cursor:ns-resize;
	font-size:10px;text-align:center;font-family:Consolas;
	height:15px;line-height:15px;
	text-decoration:none;
}
.AXTimeTable .timeZone .upControl:hover, .AXTimeTable .timeZone .upControl.on{
	background:#000;color:#fff;
}
.AXTimeTable .timeZone .downControl{
	display:block;
	position:absolute;
	left:0px;bottom:0px;width:100%;
	cursor:ns-resize;
	font-size:10px;text-align:center;font-family:Consolas;
	height:15px;line-height:15px;
	text-decoration:none;
}
.AXTimeTable .timeZone .downControl:hover, .AXTimeTable .timeZone .downControl.on{
	background:#000;color:#fff;
}