/* AXISJ Javascript UI Framework */
/* http://www.axisj.com, license : http://www.axisj.com/license */
.axj-style-width.W20 {
  width: 20px;
}
.axj-style-width.W30 {
  width: 30px;
}
.axj-style-width.W40 {
  width: 40px;
}
.axj-style-width.W50 {
  width: 50px;
}
.axj-style-width.W60 {
  width: 60px;
}
.axj-style-width.W70 {
  width: 70px;
}
.axj-style-width.W80 {
  width: 80px;
}
.axj-style-width.W90 {
  width: 90px;
}
.axj-style-width.W100 {
  width: 100px;
}
.axj-style-width.W110 {
  width: 110px;
}
.axj-style-width.W120 {
  width: 120px;
}
.axj-style-width.W130 {
  width: 130px;
}
.axj-style-width.W140 {
  width: 140px;
}
.axj-style-width.W150 {
  width: 150px;
}
.axj-style-width.W160 {
  width: 160px;
}
.axj-style-width.W170 {
  width: 170px;
}
.axj-style-width.W180 {
  width: 180px;
}
.axj-style-width.W190 {
  width: 190px;
}
.axj-style-width.W200 {
  width: 200px;
}
.axj-style-width.W210 {
  width: 210px;
}
.axj-style-width.W220 {
  width: 220px;
}
.axj-style-width.W230 {
  width: 230px;
}
.axj-style-width.W240 {
  width: 240px;
}
.axj-style-width.W250 {
  width: 250px;
}
.axj-style-width.W260 {
  width: 260px;
}
.axj-style-width.W270 {
  width: 270px;
}
.axj-style-width.W280 {
  width: 280px;
}
.axj-style-width.W290 {
  width: 290px;
}
.axj-style-width.W300 {
  width: 300px;
}
