/*!
 * AxisJ Javascript Library Version 1.0
 * http://AxisJ.com
 * 
 * Copyright AxisJ
 * http://AxisJ.com/license
 * Date 2012-12-24 오전 11:51:18
 */
 
/* editor style 01 */
/* *************************************************************************** */
.AXEditor{
  position:relative; padding:0px; margin:0px;
  background:#fff; overflow:hidden;
  border:2px solid #526271;
  border-radius:2px;
  font-family:AppleGothic,Malgun Gothic;
  }

.AXEditor .editorHead{position:relative; height:30px; z-index:3;}
.AXEditor .editorHeadExt{height:209px;}
.AXEditor .editorHead .me___headFileStatus{height:24px;background:url(img/AXEditor/fileStatus.gif) no-repeat;border-bottom:1px solid #bebebe;text-indent:25px;font-size:11px;line-height:24px;}

/* editor Tab */
.AXEditor .editorHead .me___tabContainer{height:33px;background:url(img/AXEditor/tmBg.gif) repeat-x;}
.AXEditor .editorHead .me___tabContainer .me___item{float:left;min-width:84px;_width:90px;_overflow:hidden;position:relative;height:33px;border-right:1px solid #bebebe;text-align:center;}
.AXEditor .editorHead .me___tabContainer .me___item a.me____btn{display:block;height:21px;line-height:21px;padding:0px 25px;_padding:0px 5px;
	font-size:12px;color:#5c5c5c;text-align:center;}
.AXEditor .editorHead .me___tabContainer .me___item a.me____btn:hover{color:#ccc;}
.AXEditor .editorHead .me___tabContainer .me___item a.me____tab{
	display:block;height:12px;text-indent:-1000px;overflow:hidden;
	background:url(img/AXEditor/arrow.gif) no-repeat center 1px;font-size:1px;line-height:1px;
	text-decoration:none;
}
.AXEditor .editorHead .me___tabContainer .me___item a.me____tab:hover{background:url(img/AXEditor/arrowOn.gif) no-repeat center 1px;}
.AXEditor .editorHead .me___tabContainer .me___itemOn{background:url(img/AXEditor/tmBgOn.gif) repeat-x;}
.AXEditor .editorHead .me___tabContainer .me___item .me____attchSwf{position:absolute;left:0px;top:0px;border:0px none;height:1px;width:1px;font-size:1px;line-height:1px;}


/* editor default panel */
.AXEditor .editorHead .me___headPanel{position:relative;padding:4px 0px 5px 0px;height:22px;background:#526271;}
.AXEditor .editorHead .me___headPanel a{display:block;float:left;height:22px;line-height:22px;text-align:center;color:#000;text-decoration:none;}
.AXEditor .editorHead .me___headPanel a:hover{color:#0080FF;}
.AXEditor .editorHead .me___headPanel div{display:block;float:left;height:22px;text-align:center;}
.AXEditor .editorHead .me___headPanel span.me_icon{display:block;width:22px;height:22px;text-indent:-1000px;overflow:hidden;}
.AXEditor .editorHead .me___headPanel div.me___vline{width:1px;margin:0px 1px;}
.AXEditor .editorHead .me___headPanel div.me___selectW{position:relative;width:118px;margin:0px 3px;}
.AXEditor .editorHead .me___headPanel div.me___selectW a.me___value{position:absolute;left:0px;top:0px;padding-right:15px;width:103px;background:url(img/AXEditor/btns.gif) no-repeat 0px 0px;font-size:11px;color:#5c5c5c;}
.AXEditor .editorHead .me___headPanel div.me___selectW a.me___value:hover{background-position:0px -30px;color:#4b6baf;}
.AXEditor .editorHead .me___headPanel div.me___selectS{position:relative;width:48px;margin:0px 0px 0px 0px;}
.AXEditor .editorHead .me___headPanel div.me___selectS a.me___value{position:absolute;left:0px;top:0px;padding-right:15px;width:33px;background:url(img/AXEditor/btns.gif) no-repeat -120px 0px;font-size:11px;color:#5c5c5c;}
.AXEditor .editorHead .me___headPanel div.me___selectS a.me___value:hover{background-position:-120px -30px;color:#4b6baf;}
.AXEditor .editorHead .me___headPanel div.me___selectTL{position:relative;width:40px;margin:0px 0px;}
.AXEditor .editorHead .me___headPanel div.me___selectTL a.me___value{position:absolute;left:0px;top:0px;width:25px;text-indent:-1000px;overflow:hidden;background:url(img/AXEditor/btns.gif) no-repeat -370px 0px;}
.AXEditor .editorHead .me___headPanel div.me___selectTL a.me___value:hover{background-position:-370px -30px;}
.AXEditor .editorHead .me___headPanel div.me___selectTL a.me___arrow{position:absolute;right:0px;top:0px;width:15px;text-indent:-1000px;overflow:hidden;background:url(img/AXEditor/btns.gif) no-repeat -395px 0px;}
.AXEditor .editorHead .me___headPanel div.me___selectTL a.me___arrow:hover{background-position:-395px -30px;}
.AXEditor .editorHead .me___headPanel div.me___selectTL .me___fontColor_disp{position:absolute;left:3px;top:0px;width:20px;}
.AXEditor .editorHead .me___headPanel div.me___selectTR{position:relative;width:39px;margin:0px 0px;}
.AXEditor .editorHead .me___headPanel div.me___selectTR a.me___value{position:absolute;left:0px;top:0px;width:25px;text-indent:-1000px;overflow:hidden;background:url(img/AXEditor/btns.gif) no-repeat -410px 0px;}
.AXEditor .editorHead .me___headPanel div.me___selectTR a.me___value:hover{background-position:-410px -30px;}
.AXEditor .editorHead .me___headPanel div.me___selectTR a.me___arrow{position:absolute;right:0px;top:0px;width:15px;text-indent:-1000px;overflow:hidden;background:url(img/AXEditor/btns.gif) no-repeat -434px 0px;}
.AXEditor .editorHead .me___headPanel div.me___selectTR a.me___arrow:hover{background-position:-434px -30px;}
.AXEditor .editorHead .me___headPanel div.me___selectTR .me___fontBgColor_disp{position:absolute;left:3px;top:0px;width:20px;}

.AXEditor .editorHead .me___headPanel a.me___btnL{width:23px;background:url(img/AXEditor/btns.gif) no-repeat -170px 0px;}
.AXEditor .editorHead .me___headPanel a.me___btnM{width:22px;background:url(img/AXEditor/btns.gif) no-repeat -193px 0px;}
.AXEditor .editorHead .me___headPanel a.me___btnR{width:23px;background:url(img/AXEditor/btns.gif) no-repeat -215px 0px;}
.AXEditor .editorHead .me___headPanel a.me___btnL:hover{background-position:-170px -30px;}
.AXEditor .editorHead .me___headPanel a.me___btnM:hover{background-position:-193px -30px;}
.AXEditor .editorHead .me___headPanel a.me___btnR:hover{background-position:-215px -30px;}
.AXEditor .editorHead .me___headPanel a.me___btnLa{width:23px;background:url(img/AXEditor/btns.gif) no-repeat -270px 0px;}
.AXEditor .editorHead .me___headPanel a.me___btnMa{width:22px;background:url(img/AXEditor/btns.gif) no-repeat -293px 0px;}
.AXEditor .editorHead .me___headPanel a.me___btnRa{width:23px;background:url(img/AXEditor/btns.gif) no-repeat -315px 0px;}
.AXEditor .editorHead .me___headPanel a.me___btnLa:hover{background-position:-270px -30px;}
.AXEditor .editorHead .me___headPanel a.me___btnMa:hover{background-position:-293px -30px;}
.AXEditor .editorHead .me___headPanel a.me___btnRa:hover{background-position:-315px -30px;}

.AXEditor .editorHead .me___headPanel a.me___btnS1{display:inline-block;padding:0px 5px;height:20px;line-height:20px;border:1px solid #bebebe;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;background:url(img/AXEditor/btnBg.gif) repeat-x;margin:0px 0px 0px 5px;font-size:11px;}
.AXEditor .editorHead .me___headPanel a.me___btnS1:hover{background-position:0px -20px;border:1px solid #a4b5d8;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}

.AXEditor .editorHead .me___headPanel span.me___span{display:block;float:left;width:5px;background:url(img/AXEditor/btns.gif) no-repeat -610px 0px;margin:0px 0px 0px 5px;}

.AXEditor .editorHead .me___headPanel span.me___bold{background:url(img/AXEditor/icons.gif) no-repeat 0px 0px;width:23px;}
.AXEditor .editorHead .me___headPanel span.me___italic{background:url(img/AXEditor/icons.gif) no-repeat -21px 0px;}
.AXEditor .editorHead .me___headPanel span.me___underLine{background:url(img/AXEditor/icons.gif) no-repeat -42px 0px;}
.AXEditor .editorHead .me___headPanel span.me___strike{background:url(img/AXEditor/icons.gif) no-repeat -63px 0px;width:23px;}
.AXEditor .editorHead .me___headPanel span.me___alignLeft{background:url(img/AXEditor/icons.gif) no-repeat -84px 0px;width:23px;}
.AXEditor .editorHead .me___headPanel span.me___alignCenter{background:url(img/AXEditor/icons.gif) no-repeat -105px 0px;}
.AXEditor .editorHead .me___headPanel span.me___alignRight{background:url(img/AXEditor/icons.gif) no-repeat -126px 0px;}
.AXEditor .editorHead .me___headPanel span.me___alignJustify{background:url(img/AXEditor/icons.gif) no-repeat -147px 0px;width:23px;}
.AXEditor .editorHead .me___headPanel span.me___li{background:url(img/AXEditor/icons.gif) no-repeat 0px -20px;width:23px;}
.AXEditor .editorHead .me___headPanel span.me___ol{background:url(img/AXEditor/icons.gif) no-repeat -21px -20px;}
.AXEditor .editorHead .me___headPanel span.me___outdent{background:url(img/AXEditor/icons.gif) no-repeat -42px -20px;}
.AXEditor .editorHead .me___headPanel span.me___indent{background:url(img/AXEditor/icons.gif) no-repeat -63px -20px;}
.AXEditor .editorHead .me___headPanel span.me___lineHeight{background:url(img/AXEditor/icons.gif) no-repeat -84px -20px;width:23px;}
.AXEditor .editorHead .me___headPanel span.me___url{background:url(img/AXEditor/icons.gif) no-repeat -105px -20px;width:23px;}
.AXEditor .editorHead .me___headPanel span.me___imoticon{background:url(img/AXEditor/icons.gif) no-repeat -126px -20px;}
.AXEditor .editorHead .me___headPanel span.me___quotation{background:url(img/AXEditor/icons.gif) no-repeat -147px -20px;}
.AXEditor .editorHead .me___headPanel span.me___pageBreak{background:url(img/AXEditor/icons.gif) no-repeat -168px -20px;width:23px;}
.AXEditor .editorHead .me___headPanel span.me___fontColor{background:url(img/AXEditor/icons.gif) no-repeat 0px -40px;}
.AXEditor .editorHead .me___headPanel span.me___fontBgColor{background:url(img/AXEditor/icons.gif) no-repeat -21px -40px;}

.AXEditor .editorHead .me___headPanel .me___selecterBox{position:absolute;top:0px;left:0px;background:#fff;border:2px solid #bebebe;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow:0px 0px 3px #aaa;-webkit-box-shadow:0px 0px 3px #aaa;-moz-box-shadow:0px 0px 3px #aaa;z-index:1000;}
.AXEditor .editorHead .me___headPanel .me___selecterBox .me___selecterTitle{float:none;text-align:left;padding:5px 0px 0px 5px;height:20px;line-height:20px;}
.AXEditor .editorHead .me___headPanel .me___selecterBox .me___selecterTitleTab{float:none;position:relative;height:28px;border-bottom:1px solid #bebebe;background:#eaeaea;}
.AXEditor .editorHead .me___headPanel .me___selecterBox .me___selecterTitleTabTray{position:absolute;left:0px;top:7px;padding:0px 7px;}
.AXEditor .editorHead .me___headPanel .me___selecterBox .me___selecterTitleTabTray A{
	float:none;display:inline-block;height:20px;border:1px solid #bebebe;
	border-top-left-radius:3px;-webkit-border-top-left-radius:3px;-moz-border-top-left-radius:3px;
	border-top-right-radius:3px;-webkit-border-top-right-radius:3px;-moz-border-top-right-radius:3px;
	background:url(img/AXEditor/btnBg.gif) repeat-x;
	overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin:0px 2px 0px 0px;padding:0px 10px;
	text-align:center;font-size:11px;text-shadow:1px 1px 1px #ccc;color:#222 ! important;text-shadow:1px 1px 1px #ccc;cursor:pointer;
}
.AXEditor .editorHead .me___headPanel .me___selecterBox .me___selecterTitleTabTray A.on{
  border-bottom:1px solid #fff;background:#fff;font-weight:bold;  
}
.AXEditor .editorHead .me___headPanel .me___selecterBox .me___selecterTray{float:none;overflow:auto;position:relative;padding:5px 1px;}
.AXEditor .editorHead .me___headPanel .me___selecterBox .me___selecterBot{float:none;padding:0px 5px;font-size:10px;line-height:15px;}
.AXEditor .editorHead .me___headPanel .me___selecterBox .me___selecterBot a{color:#888;}
.AXEditor .editorHead .me___headPanel .me___selecterBox .me___selecterTitleBar{}
.AXEditor .editorHead .me___headPanel .me___selecterBox .me___selecterArrow{position:absolute;top:0px;left:47px;width:7px;height:4px;background:url(img/AXEditor/arrow.gif) no-repeat;font-size:1px;line-height:1px;z-index:10;}
.AXEditor .editorHead .me___headPanel .me___selecterBox .colorItem{display:block;float:left;width:16px;height:16px;border:1px solid #929292;text-indent:-1000px;overflow:hidden;margin-top:3px;margin-left:3px;}
.AXEditor .editorHead .me___headPanel .me___selecterBox .ffItem{display:block;float:none;font-size:12px;height:20px;line-height:20px;border:1px solid #fff;border-bottom:1px dashed #ccc;margin:3px 3px 0px 3px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.AXEditor .editorHead .me___headPanel .me___selecterBox .ffItem:hover{border-bottom:1px solid #ccc;}
.AXEditor .editorHead .me___headPanel .me___selecterBox .me___inputUrl{position:absolute;top:30px;left:7px;}
.AXEditor .editorHead .me___headPanel .me___selecterBox .me___inputUrl input{border:1px solid #bebebe;padding:2px;font-size:12px;line-height:15px;}
.AXEditor .editorHead .me___headPanel .me___selecterBox .me___inputBtn{position:absolute;top:55px;left:7px;}
.AXEditor .editorHead .me___headPanel .me___selecterBox .me___inputBtn input{vertical-align:middle;}
.AXEditor .editorHead .me___headPanel .me___selecterBox .me___inputBtn .me___inputBtnOK{position:absolute;top:0px;left:245px;}
.AXEditor .editorHead .me___headPanel .me___selecterBox .icoItem{display:block;margin:3px 3px 0px 3px;}
.AXEditor .editorHead .me___headPanel .me___selecterBox .icoItem img{border:0px;}


/* attch Panel */
.AXEditor .editorHead .me___headPanel .me___headDivPanel_attch{position:absolute;float:none;left:0px;top:0px;height:140px;width:100%;}
.AXEditor .editorHead .me___headPanel .me___headDivPanel_attch .me___headDivPanel_attch_btns{float:none;background:#fff;height:22px;border-bottom:1px solid #bebebe;padding:4px 0px;text-align:left;}
.AXEditor .editorHead .me___headPanel .me___headDivPanel_attch .me___headDivPanel_attch_btns .headTitle{margin:0px 10px;line-height:22px;}
.AXEditor .editorHead .me___headPanel .me___headDivPanel_attch .me___headDivPanel_attch_btns .me____attchSwf{position:absolute;left:5px;top:4px;width:23px;height:22px;}
.AXEditor .editorHead .me___headPanel .me___headDivPanel_attch .me___headDivPanel_attch_CT{float:none;text-align:left;background:#e0e0e0;height:118px;border-bottom:1px solid #777;overflow-x:scroll;overflow-y:hidden;white-space:nowrap;}
.AXEditor .editorHead .me___headPanel .me___headDivPanel_attch .me___headDivPanel_attch_CT .attchItem{display:inline-block;float:none;position:relative;width:86px;height:86px;border:1px solid #a1a1a1;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;margin-top:5px;margin-left:8px;background:#fff;cursor:pointer;}
.AXEditor .editorHead .me___headPanel .me___headDivPanel_attch .me___headDivPanel_attch_CT .attchItemON{border:1px solid #0080FF;color:#0080FF;background:#eee;}
.AXEditor .editorHead .me___headPanel .me___headDivPanel_attch .me___headDivPanel_attch_CT .attchItem .attchItemName{position:absolute;left:5px;top:5px;width:76px;text-align:center;font-size:11px;line-height:13px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.AXEditor .editorHead .me___headPanel .me___headDivPanel_attch .me___headDivPanel_attch_CT .attchItem .attchItemPreviewLoad{position:absolute;left:13px;top:23px;width:58px;height:58px;text-align:center;background:url(img/AXEditor/loading.gif) no-repeat center center;}
.AXEditor .editorHead .me___headPanel .me___headDivPanel_attch .me___headDivPanel_attch_CT .attchItem .attchItemPreview{position:absolute;left:13px;top:23px;width:58px;height:58px;text-align:center;background:url(img/AXEditor/fileStatus.gif) no-repeat center center;}
.AXEditor .editorHead .me___headPanel .me___headDivPanel_attch .me___headDivPanel_attch_CT .attchItemEnd{display:inline-block;float:none;width:8px;height:58px;font-size:1px;line-height:1px;clear:both;}

.AXEditor .editorHead .me___headPanel .me___headDivPanel_attch .me___headDivPanel_attch_CT .componentItem{display:inline-block;float:none;position:relative;width:86px;height:86px;border:1px solid #a1a1a1;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;margin-top:5px;margin-left:8px;background:#fff;cursor:pointer;}
.AXEditor .editorHead .me___headPanel .me___headDivPanel_attch .me___headDivPanel_attch_CT .componentItem .componentItemName{position:absolute;left:5px;top:5px;width:76px;text-align:center;font-size:11px;line-height:13px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.AXEditor .editorHead .me___headPanel .me___headDivPanel_attch .me___headDivPanel_attch_CT .componentItem .componentItemPreview{position:absolute;left:13px;top:23px;width:58px;height:58px;text-align:center;}


/* editor body */
.AXEditor .editorBody{position:relative;z-index:1;}
.AXEditor .editorBody .me___AXMask{background:#000;-moz-opacity: 0.3;opacity:.30;filter: alpha(opacity=30);position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:1000;}
.AXEditor .editorBody .me__htmlArea{border:0px none;margin:0px;padding:0px 0px;background:#f3f3f3;color:#000;font-size:12px;font-family:Consolas;line-height:18px;}
	
.AXEditor .editorFoot{position:relative;height:32px; background:#526271; z-index:2;}
.AXEditor .editorFoot .me___handle{display:block;height:13px;background:url(img/AXEditor/resizer.gif) no-repeat center center; background-color:#e5e5e5;text-indent:-1000px;overflow:hidden;
	font-size:1px;line-height:1px;cursor:row-resize;}
.AXEditor .editorFoot .me___container{position:absolute;right:5px;bottom:0px;}
.AXEditor .editorFoot .me___container a.me____tab{
	display:block;float:left;height:18px;line-height:20px;padding:0px 15px;
	font-size:12px;color:#fff;text-align:center;
	text-decoration:none;
	}
.AXEditor .editorFoot .me___container a.me____tabOn{height:18px;border-top:1px solid #e5e5e5;border-left:1px solid #526271;border-right:1px solid #526271;background:#e5e5e5; color:#526271;}
/* *************************************************************************** */